src/main/mule/size-based-aggregator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5c87ec78-9df7-4dbb-bd3d-4d11331e9f52" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="size-based-aggregatorFlow" doc:id="98aa30d0-d2c3-4726-b555-bffaa81bd402" >
		<http:listener doc:name="Listener" doc:id="5056df44-dbd7-4b6c-98e6-c3343a630761" config-ref="HTTP_Listener_config" path="/sizebased"/>
		<aggregators:size-based-aggregator doc:name="Size based aggregator" doc:id="4612d204-9d64-4012-aa34-83e224849aea" name="Aggregatebasedonsize" maxSize="5">
			<aggregators:content ><![CDATA[#[payload.id]]]></aggregators:content>
			<aggregators:incremental-aggregation >
				<logger level="INFO" doc:name="Logger" doc:id="65344ea7-b76a-4bfb-9a4e-1722263f8028" message='#["INCREMENTAL AGGREATION STARTTING"]'/>
			</aggregators:incremental-aggregation>
			<aggregators:aggregation-complete >
				<logger level="INFO" doc:name="Logger" doc:id="c5aa8885-f018-4e05-9690-cec36ba3a306" message='#["AGGREGATRION COMPLETED"]'/>
			</aggregators:aggregation-complete>
		</aggregators:size-based-aggregator>
	</flow>
	<flow name="size-based-aggregatorFlow1" doc:id="28949876-f045-4ac5-91fd-b34c848366ef" >
		<aggregators:aggregator-listener doc:name="Aggregator listener" doc:id="3ac461b4-b55d-45aa-ae8a-5c30125fb68b" aggregatorName="Aggregatebasedonsize"/>
		<logger level="INFO" doc:name="Logger" doc:id="fd44ce95-fa01-4160-9195-1a6fe7e27883" message="#[output application/json&#10;---&#10;[payload]]"/>
	</flow>
</mule>
